In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
plt.style.use('seaborn-white')  # set the matplotlib stylesheet

C:\Users\Ritu Mishra\AppData\Local\Temp\ipykernel_18088\2446675851.py:6: MatplotlibDeprecationWarning: The seaborn styles shipped by Matplotlib are deprecated since 3.6, as they no longer correspond to the styles shipped by seaborn. However, they will remain available as 'seaborn-v0_8-<style>'. Alternatively, directly use the seaborn API instead.
  plt.style.use('seaborn-white')  # set the matplotlib stylesheet

In [2]:
ccdef = pd.read_excel("C:/Users/Ritu Mishra/Downloads/Default (1).xlsx")

C:\Users\Ritu Mishra\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [3]:
ccdef.head()

   Unnamed: 0 default student      balance        income
0           1      No      No   729.526495  44361.625074
1           2      No     Yes   817.180407  12106.134700
2           3      No      No  1073.549164  31767.138947
3           4      No      No   529.250605  35704.493935
4           5      No      No   785.655883  38463.495879

In [4]:
ccdef.shape

(10000, 5)

In [5]:
ccdef.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  10000 non-null  int64
 1   default     10000 non-null  object
 2   student     10000 non-null  object
 3   balance     10000 non-null  float64
 4   income      10000 non-null  float64
dtypes: float64(2), int64(1), object(2)
memory usage: 390.8+ KB

In [6]:
ccdef.isnull().sum()

Unnamed: 0    0
default       0
student       0
balance       0
income        0
dtype: int64

### statistical analysis

In [7]:
ccdef.describe()

        Unnamed: 0       balance        income
count  10000.00000  10000.000000  10000.000000
mean    5000.50000    835.374886  33516.981876
std     2886.89568    483.714985  13336.639563
min        1.00000      0.000000    771.967729
25%     2500.75000    481.731105  21340.462903
50%     5000.50000    823.636973  34552.644802
75%     7500.25000   1166.308386  43807.729272
max    10000.00000   2654.322576  73554.233495

### Analysis of zero values in predictors

In [8]:
 (ccdef.balance == 0).sum(axis = 0)

499

## categorical variable analysis

In [9]:
ccdef.student.value_counts()

student
No     7056
Yes    2944
Name: count, dtype: int64

## response variable analysis

In [10]:
ccdef.default.value_counts()

default
No     9667
Yes     333
Name: count, dtype: int64

## Encode categorical variables

In [11]:
ccdef['default2'] = ccdef.default.factorize()[0]
ccdef['student2'] = ccdef.student.factorize()[0]
ccdef.head(3)

   Unnamed: 0 default student      balance        income  default2  student2
0           1      No      No   729.526495  44361.625074         0         0
1           2      No     Yes   817.180407  12106.134700         0         1
2           3      No      No  1073.549164  31767.138947         0         0

In [12]:
ccdef_dfno = ccdef[ccdef.default2==0].sample(frac = 0.15)
ccdef_dfyes = ccdef[ccdef.default2==1]

In [13]:
ccdef_df = ccdef_dfno.extend(ccdef_dfyes)

AttributeError: 'DataFrame' object has no attribute 'extend'

In [ ]:
%matplotlib

In [ ]:
ccdef_df = ccdef_dfno.append(ccdef_dfyes)
fig = plt.figure(figsize=(12,5)) 
gs = mpl.gridspec.GridSpec(1, 4) 
ax1 = plt.subplot(gs[0,:2]) 
ax2 = plt.subplot(gs[0,2:3]) 
ax3 = plt.subplot(gs[0,3:4]) 
ax1.scatter(ccdef_df[ccdef_df.default == 'Yes'].balance, ccdef_df[ccdef
_df.default == 'Yes'].income, s=40, c='orange', marker='+', linewidths=1) 
ax1.scatter(ccdef_df[ccdef_df.default == 'No'].balance, ccdef_df[ccdef_
df.default == 'No'].income, s=40, marker='o', linewidths='1', 
edgecolors='lightblue', facecolors='white', alpha=.6) 
ax1.set_ylim(ymin=0) 
ax1.set_ylabel('Income') 
ax1.set_xlim(xmin=-100) 
ax1.set_xlabel('Balance') 
c_palette = {'No':'lightblue', 'Yes':'orange'} 
sns.boxplot('default', 'balance', data=ccdef, orient='v', ax=ax2, palet
te=c_palette) 
sns.boxplot('default', 'income', data=ccdef, orient='v', ax=ax3, palett
e=c_palette) 
 gs.tight_layout(plt.gcf())